* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
    height: 100%;
}

.box {
    padding: 10px;
    text-align: center;
}

.box a {   
    display: inline-block;
    position: relative;
    text-decoration: none;
    font-size: 24px;
    color: skyblue;
    padding: 10px;   
    transition: 0.5s;
}

.box a:after {
    position: absolute;
    right: -14px;
    color: skyblue;
    content: '»';
    font-size: 44px;
    opacity: 0;
    top: -7px;
    transition: 0.5s;
}

.box a:hover {
    color: royalblue;
    padding-right: 28px;
}

.box a:hover:after {
    color: royalblue;
    opacity: 1;
    right: 0;
}

.box ul {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.box ul li {
    width: 300px;
    border-radius: 1rem;
    background-color:bisque;
    position: relative;
    font-size: 18px;
    font-weight: lighter;
    list-style: none;
    color: rgb(250, 235, 215);
    transition: 0.3s;
}