* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.borderbox {
    width: 100%;
}

.topbox {
    margin: 40px auto 20px;
    font-size: 32px;
    padding: 40px;
    border: 1px solid #000000;
    border-radius: 0.25rem;
    width: 85vw;
    max-width: 1200px;
    text-align: center
}

.mainbox {
    margin: 0 auto;
    width: 85vw;
    max-width: 1200px;
    border: 1px solid #000000;
    border-radius: 0.25rem;
    height: 70vh;
}

.searchbox {
    display: flex;
    justify-content: space-between;
    width: 280px;
    border: 1px solid #000000;
    border-radius: 0.25rem;
    margin: 10px;
}

#searchcity {
    border: none;
    height: 32px;
    width: 220px;
    font-size: 16px;
}

#searchcity:focus {
    outline: none;
}

.searchlogobox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28px;
    width: 28px;
    margin: 2px;
    border-radius: 0.25rem;
}

.gologobox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28px;
    width: 28px;
    margin: 2px;
    border-radius: 0.25rem;
}

.gologobox:hover {
    background-color: #e7ecf0;
}

.hr {
    border-top: 1px solid #000000;
    margin: 10px 10px;
}

.weatherinfobox {
    border: 1px solid #000000;
    border-radius: 0.25rem;
    margin: 10px;
}