* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.borderbox {
    width: 100%;
}

.topbox {
    margin: 40px auto 15px;
    font-size: 32px;
    padding: 40px;
    border: 1px solid #000000;
    border-radius: 0.25rem;
    width: 85vw;
    max-width: 1200px;
    text-align: center
}

.mainbox {
    margin: 0 auto;
    width: 85vw;
    max-width: 1200px;
    border: 1px solid #000000;
    border-radius: 0.25rem;
    height: 70vh;
}

.searchbox {
    display: flex;
    justify-content: space-between;
    width: 280px;
    border: 1px solid #000000;
    border-radius: 0.25rem;
    margin: 10px;
}

#searchcity {
    border: none;
    height: 32px;
    width: 220px;
    font-size: 16px;
}

#searchcity:focus {
    outline: none;
}

.searchlogobox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28px;
    width: 28px;
    margin: 2px;
    border-radius: 0.25rem;
}

.gologobox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28px;
    width: 28px;
    margin: 2px;
    border-radius: 0.25rem;
}

.gologobox:hover {
    background-color: #e7ecf0;
}

.hr {
    border-top: 1px solid #000000;
    margin: 10px 10px;
}

.weatherinfobox {
    border: 1px solid #000000;
    border-radius: 0.25rem;
    margin: 10px;
    min-height: 240px;
    padding: 2px;
}

.currentweatherbox {
    display: flex;
    margin: 10px auto;
    width: fit-content;
}

.currentweathericon {
    padding: 10px;
    background-color: #FFF;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.14);
    margin: 10px;
}

.weathericon {
    opacity: 0.7;
}

.currentweatherinfo {
    margin: 10px;
}

.currentweathernum {
    font-size: 30px;
}

.currentweathertext {
    font-size: 16px;
    margin-top: 10px;
}

.currentweatherlist {
    display: flex;
    justify-content: center;
    align-items: center;
}

.weatherlistbox {
    width: 80px;
    height: 80px;
    border: 1px solid #000000;
    border-radius: 0.25rem;
    margin: 15px 12px;
    padding: 12px 5px;
}

.weatherlistnum {
    font-size: 18px;
    font-weight: 600;
    white-space: nowrap;
}

.weatherlisttext {
    color: #000000BB;
    white-space: nowrap;
    margin-top: 6px;
}