* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.borderbox {
    position: relative;
    height: 100vh;
}

.textbox {
    padding: 100px;
}

.texttitle {
    margin: 40px 0 10px;
}

.displaybtn {
    margin: 0 100px;
    background-color: #FFFFFF;
    border: solid 1px #000000;
    font-size: 16px;
    height: 60px;
    width: 200px;
    cursor: pointer;
    transition: 0.3s;
}

.displaybtn:hover {
    background-color: #222222;
    color: #FFFFFF;
}