* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.borderboxcover {
    position: absolute;
    height:80vh;
    width: 100vw;
    background-color: white;
    z-index: 1;
    transform: scale(0);
    transform-origin: bottom;
}

.pagefadeinout {
    animation: pagefadeinout 1s ease;
}

@keyframes pagefadeinout {
    0% {
        transform: scale(0) translateZ(0);
        opacity: 0;
    }

    25% {
        opacity: 0.8;
    }

    40% {
        opacity: 1;
    }

    50% {
        transform: scale(1);
    }

    60% {
        opacity: 1;
    }

    75% {
        opacity: 0.8;
    }

    100% {
        transform: scale(0) translateZ(0);
        opacity: 0;
    }
}

.borderbox {
    position: relative;
    height: 100vh;
}

.textbox {
    height: 80vh;
    position: relative;
    padding: 100px;
}

.texttitle {
    margin: 40px 0 10px;
}

.displaybtn {
    position: relative;
    margin: 0 100px;
    background-color: #FFFFFF;
    border: solid 1px #000000;
    font-size: 16px;
    height: 60px;
    width: 240px;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
}

.zindex-1 {
    z-index: -1;
}

.displaybtn:hover {
    border: solid 1px #444444;
}

.displaybtnbox {
    position: absolute;
    top: 0;
    transition: 0.3s ease;
}

.displaybtn:hover .displaybtnbox {
    top: -60px;
}

.displaybtn:hover .displaybtnwhitetext {
    transform: rotate(-5deg) translateZ(0);
}

.displaybtn:hover .displaybtnblacktext {
    transform: rotate(0deg) translateZ(0);
}

.displaybtnwhite {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 238px;
    height: 60px;
}

.displaybtnwhitetext {
    transition: 0.4s ease;
    transition-delay: 0.1s;
    transform-origin: 0% 100%;
    transform: rotate(0deg) translateZ(0);
}

.displaybtnblack {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 238px;
    height: 60px;
    background-color: #202020;
    color: #FFFFFF;
}

.displaybtnblacktext {
    transition: 0.4s ease;
    transition-delay: 0.1s;
    transform-origin: 0% 0%;
    transform: rotate(5deg) translateZ(0);
}